@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);

  color: whitesmoke;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  background: radial-gradient(100% 225% at 0% 0%, #de3e3e 0%, #17115c 100%),
    radial-gradient(100% 225% at 100% 0%, #ff9040 0%, #ff0000 100%),
    linear-gradient(180deg, #ce63b7 0%, #ed6283 100%),
    radial-gradient(100% 120% at 75% 0%, #a74600 0%, #000000 100%),
    linear-gradient(310deg, #0063d8 0%, #16009a 50%);
  background-blend-mode: overlay, color-dodge, color-burn, color-dodge, normal;
}
.custome {
  background-color: aliceblue;
  padding: 10px 20px;
  border-radius: 100px;
}
#txt1 {
  border: none;
  outline: none;
  padding: 15px;
  background-color: aliceblue;
}
#chk1 {
  /* appearance: none; */
  user-select: none;
  position: relative;
  border: none;
  padding: 10px;
  outline: none;
  cursor: pointer;
}
/* #chk1::selection {
  border: none;
  outline: none;
} */
